<form class="" action="/" method="post">
  <input type="text" name="name" value="name"><br><br>
  <input type="text" name="type" value="type"><br><br>
  <input type="text" name="trainer_id" value="trainer_id"><br><br>
  <input type="submit" name="Submit" value="Submit">
</form>
